ALEMBIC DATABASE URL = postgresql+psycopg2://game_user:GameUser2026Secure@localhost:5432/game_db
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 2c487b889c20

CREATE TABLE menu_items (
    id SERIAL NOT NULL, 
    name VARCHAR, 
    purchase_price NUMERIC(10, 2) NOT NULL, 
    selling_price NUMERIC(10, 2) NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_menu_items_id ON menu_items (id);

CREATE UNIQUE INDEX ix_menu_items_name ON menu_items (name);

CREATE TABLE users (
    id SERIAL NOT NULL, 
    username VARCHAR, 
    password_hash VARCHAR, 
    money NUMERIC(10, 2) DEFAULT '0.00' NOT NULL, 
    is_admin BOOLEAN DEFAULT 'false' NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_users_id ON users (id);

CREATE UNIQUE INDEX ix_users_username ON users (username);

CREATE TABLE gamelog (
    id SERIAL NOT NULL, 
    user_id INTEGER, 
    action_type VARCHAR, 
    message VARCHAR, 
    amount NUMERIC(10, 2), 
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_gamelog_id ON gamelog (id);

CREATE TABLE inventory (
    id SERIAL NOT NULL, 
    menu_item_id INTEGER NOT NULL, 
    quantity INTEGER, 
    user_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(menu_item_id) REFERENCES menu_items (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_inventory_id ON inventory (id);

CREATE TYPE orderstatus AS ENUM ('PENDING', 'COMPLETED', 'CANCELLED');

CREATE TABLE orders (
    id SERIAL NOT NULL, 
    user_id INTEGER, 
    status orderstatus NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_orders_id ON orders (id);

CREATE TABLE player_progress (
    id SERIAL NOT NULL, 
    user_id INTEGER, 
    total_money_earned NUMERIC(12, 2) DEFAULT '0.00', 
    total_orders INTEGER, 
    current_level INTEGER, 
    total_money_spent NUMERIC(12, 2) DEFAULT '0.00', 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (user_id)
);

CREATE INDEX ix_player_progress_id ON player_progress (id);

CREATE TABLE order_items (
    id SERIAL NOT NULL, 
    order_id INTEGER, 
    menu_item_id INTEGER, 
    quantity INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(menu_item_id) REFERENCES menu_items (id), 
    FOREIGN KEY(order_id) REFERENCES orders (id)
);

CREATE INDEX ix_order_items_id ON order_items (id);

INSERT INTO alembic_version (version_num) VALUES ('2c487b889c20') RETURNING alembic_version.version_num;

COMMIT;

